<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>Herring</h5>
      <small *ngIf="titleActions$ | async as title">{{title}}</small>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <!-- nav bar -->
  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a class="nav-item nav-link active ml-1" (click)="changeTitle('Home')" data-toggle="tab"
           routerLink="/home">
          <i class="fas fa-h-square"></i>
          Home
        </a>
        <a class="nav-item nav-link ml-3" (click)="changeTitle('Users')" data-toggle="tab"
           routerLink="/users">
          <i class="fa fa-users"></i>
          Users
        </a>
        <a [hidden]="!isAdmin" class="nav-item nav-link ml-3" (click)="changeTitle('Settings')"
           routerLink="/user-settings" data-toggle="tab">
          <i class="fa fa-cogs"></i>
          Settings
        </a>
        <a class="nav-item nav-link ml-3" routerLink="/project-list" data-toggle="tab">
          <i class="fas fa-tasks"></i>
          Projects
        </a>
        <a class="nav-item nav-link move-right ml-3" (click)="changeTitle('Details')"
           routerLink="/user-details" data-toggle="tab">
          Welcome, {{user?.firstName}}
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </nav>

  <!-- main content -->
  <div class="tab-content mt-3" id="myTabContent">
    Welcome to Herring.
    <br>
    If you want to check activities in your project, click interesting one.
    <div class="tab-pane fade show active" id="projects">
      <div *ngFor="let project of projects">
        <button type="button" class="btn btn-primary custom" data-toggle="modal"
                data-backdrop="false"
                [attr.data-target]="'#id' + project.uuid">
          <span>{{project.title}}</span>
        </button>


        <!-- Modal -->
        <div class="modal fade" id="id{{project.uuid}}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{project.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card" *ngFor="let act of project.activities" style="margin-bottom: 5px">
                  <div class="card-body" >
                    <div class="e-profile">
                      {{act.creationDate | date: 'medium'}}
                      <br>
                      {{act.message}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
