<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>Herring</h5>
      <small *ngIf="titleActions$ | async as title">{{title}}</small>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <!-- nav bar -->
  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a class="nav-item nav-link ml-3" (click)="changeTitle('Home')" data-toggle="tab"
           routerLink="/home">
          <i class="fas fa-h-square"></i>
          Home
        </a>
        <a class="nav-item nav-link ml-3" (click)="changeTitle('Users')" data-toggle="tab"
           routerLink="/users">
          <i class="fa fa-users"></i>
          Users
        </a>
        <a [hidden]="!isAdminOrManager" class="nav-item nav-link active ml-1" (click)="changeTitle('Settings')"
           routerLink="/user-settings" data-toggle="tab">
          <i class="fa fa-cogs"></i>
          Settings
        </a>
        <a class="nav-item nav-link ml-3" routerLink="/project-list" data-toggle="tab">
          <i class="fas fa-tasks"></i>
          Projects
        </a>
        <a class="nav-item nav-link move-right ml-3" (click)="changeTitle('Details')"
           routerLink="/user-details" data-toggle="tab">
          Welcome, {{user?.firstName}}
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </nav>

  <!-- main content -->
  <div class="tab-content mt-3" id="myTabContent">
    <!-- change password -->
    <div [hidden]="!isAdminOrManager" class="tab-pane fade show active" id="reset-password">
      <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
        <fieldset>
          <legend>User Password Management</legend>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="reset-password-email" required ngModel class="form-control"
                   placeholder="Enter email (example@email.com)">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <button type="submit" [disabled]="false" class="btn btn-primary">
            <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
            <span *ngIf="refreshing">Loading...</span>
            <span *ngIf="!refreshing" style="margin-left:-15px;">Reset Password</span>
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
