<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h5>Herring</h5>
      <small *ngIf="titleActions$ | async as title">{{title}}</small>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <!-- nav bar -->
  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a class="nav-item nav-link ml-3" (click)="changeTitle('Home')" data-toggle="tab"
           routerLink="/home">
          <i class="fas fa-h-square"></i>
          Home
        </a>
        <a class="nav-item nav-link ml-3" (click)="changeTitle('Users')" data-toggle="tab"
           routerLink="/users">
          <i class="fa fa-users"></i>
          Users
        </a>
        <a [hidden]="!isAdmin" class="nav-item nav-link ml-3" (click)="changeTitle('Settings')"
           routerLink="/user-settings" data-toggle="tab">
          <i class="fa fa-cogs"></i>
          Settings
        </a>
        <a class="nav-item nav-link active ml-1" routerLink="/project-list" data-toggle="tab">
          <i class="fas fa-tasks"></i>
          Projects
        </a>
        <a class="nav-item nav-link move-right ml-3" (click)="changeTitle('Details')"
           routerLink="/user-details" data-toggle="tab">
          Welcome, {{user?.firstName}}
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </nav>

  <!-- main content -->
  <div class="container">
    <div class="e-profile">
      <div class="row">
        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
          <div class="text-center text-sm-left mb-2 mb-sm-0">
            <div class="row">
              <div class="col">
                <div class="tab-pane fade show active" id="options">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewTaskGroup">
                    <i class="fas fa-plus"></i>
                    New TaskGroup
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Task Groups -->
      <div class="tab-pane fade show active" id="profile">
        <div class="container">
          <div class="row flex-lg-nowrap">
            <div class="col">
              <div class="row">
                <div class="col mb-3">
                  <div *ngFor="let taskGroup of tasksGroups">
                    <div class="card">
                      <div class="card-body">
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{getPercentages(taskGroup)}}%"   aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="e-profile">
                          <div class="row">
                            <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                  <h2>{{taskGroup.title}}</h2>
                                </div>
                                <div class="col-sm">
                                </div>
                                <div class="col-sm">
                                </div>
                                <div class="col-sm">
                                  <div class="row">
                                    <div class="col-sm text-right">
                                      <button type="button" class="btn btn-primary" data-toggle="modal"
                                              data-backdrop="false"
                                              [attr.data-target]= "'#id' + taskGroup.id">
                                        <i class="fa fa-plus"></i>
                                        <span> Task </span>
                                      </button>
                                    </div>
                                    <div class="col-sm">
                                      <button (click)="onDelete(taskGroup.id)" class="btn btn-block btn-danger">
                                        <i class="fa fa-trash"></i>
                                        <span> Delete</span>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- drag&drop -->
                          <div class="tab-content pt-3">
                            <div class="tab-pane active">
                              <div cdkDropListGroup>
                                <div class="example-container">
                                  <h4>To do</h4>
                                  <div
                                    cdkDropList
                                    [cdkDropListData]=filterTasksToDo(taskGroup.tasks)!
                                    class="example-list"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" *ngFor="let item of filterTasksToDo(taskGroup.tasks)!" cdkDrag style="background-color: #f2faff">
                                      {{item.title}}
                                      <div class="text-center text-sm-right">
                                        <button (click)="onDeleteTask(taskGroup.id, item.id)"
                                                class="btn btn-block btn-danger">
                                          <span>Delete</span>
                                          <i class="fas fa-sing-in-alt ml-1"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="example-container">
                                  <h4>Done</h4>

                                  <div
                                    cdkDropList
                                    [cdkDropListData]=filterTasksDone(taskGroup.tasks)!
                                    class="example-list"
                                    (cdkDropListDropped)="drop($event)">
                                    <div class="example-box" *ngFor="let item of filterTasksDone(taskGroup.tasks)!" cdkDrag style="background-color: #e6ffe6">
                                      {{item.title}}
                                      <div class="text-center text-sm-right">
                                        <button (click)="onDeleteTask(taskGroup.id, item.id)"
                                                class="btn btn-block btn-danger">
                                          <span>Delete</span>
                                          <i class="fas fa-sing-in-alt ml-1"></i>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Add Task Modal -->
                    <div class="modal fade" id = "id{{taskGroup.id}}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form #newTaskForm="ngForm" (ngSubmit)="onAddNewTask(taskGroup.id, newTaskForm)">
                              <div class="form-group">
                                <label>Title</label>

                                <input type="text" name="title" required ngModel class="form-control">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-task-close">
                                  Close
                                </button>
                                <button type="submit" [disabled]="newTaskForm.invalid" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- add task-group modal -->
    <div class="modal fade" id="addNewTaskGroup" tabindex="-1" role="dialog" aria-labelledby="addNewTaskGroupLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewTaskGroupLabel">Add new task group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <form #newTaskGroupForm="ngForm" (ngSubmit)="onAddNewTaskGroup(newTaskGroupForm)">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" name="title" required ngModel class="form-control">
                </div>
                <button type="submit" style="display: none;" id="new-task-group-save"></button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-project-close">Close</button>
            <button type="button" (click)="saveNewTaskGroup()" [disabled]="newTaskGroupForm.invalid"
                    class="btn btn-primary">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
